<!-- default v2chat widget -->
<style>
/*#a3{ background-image: url('${BASE_URL}/logo.png');}*/
</style>

<div id="a3">
	<div id="a3-loading-view">
		<h1>${APP_LOADING}</h1>
	</div>

	<div id="a3-loading-failed-view">
		<h1>${APP_FAILED}</h1>
	</div>

	<div id="a3-intro-view">
		<h1>${INTRO_MSG1}</h1>
		<button class="a3-btn-video-call a3-intro-btn">${INTRO_MSG2}</button>
		<h2>${INTRO_MSG3}</h2>
		<button class="a3-btn-callback a3-intro-btn">${INTRO_MSG4}</button>
		<h2>${INTRO_MSG5}</h2>
	</div>

	<div id="a3-start-call-view">
		<h1>${CALLING}</h1>
	</div>

	<div id="a3-hw-test-view">
		<h1>${HW_CHECK}</h1>
        <h2>${HW_CHECK_MSG1}</h2>
        <div class="a3-settings-panel-proxy"></div>
	</div>

	<div id="a3-hw-failed-view">
		<h1>${HW_FAILED}</h1>
	</div>

	<div id="a3-calling-view">
		<h1>${CALLING}</h1>
		<div class="a3-hardware-controls"></div>
		<div class="a3-call-buttons">
			<button class="a3-btn-cancel">${CANCEL_THE_CALL}</button>
		</div>
	</div>

	<div id="a3-talking-voice-view">
		<h1>${TALKING}</h1>
		<div class="a3-hardware-controls"></div>
		<div class="a3-call-buttons">
			<button class="a3-btn-hangup">${HANGUP_THE_CALL}</button>
			<button class="a3-btn-dialpad-toggle">${DIALPAD_LABEL}</button>
		</div>
		<div class="a3-stopwatch noselect"></div>
		<!-- You can set data-dialpad='show' if you wish to show dialpad on call started -->
		<div class="a3-dialpad"></div>
	</div>

	<div id="a3-talking-video-view">
		<h1>${TALKING}</h1>
		<div class="a3-remote-video-proxy"></div>
		<div class="a3-hardware-controls"></div>
		<div class="a3-call-buttons">
			<button class="a3-btn-hangup">${HANGUP_THE_CALL}</button>
			<button class="a3-btn-dialpad-toggle">${DIALPAD_LABEL}</button>
		</div>
		<div class="a3-stopwatch noselect"></div>
		<!-- You can set data-dialpad='show' if you wish to show dialpad on call started -->
		<div class="a3-dialpad"></div>
	</div>

	<div id="a3-call-finished-view">
		<h1>${CALL_FINISHED}</h1>
	</div>

	<div id="a3-callback-view">
		<h1>${CALLBACK_FORM_TITLE}</h1>
		<form class="callback-form">
			<input type="hidden" name="reason" value="USER_ACTION">
			<input placeholder="${CALLBACK_FORM_NAME_LABEL}" name="name"><br>
			<input placeholder="${CALLBACK_FORM_PHONE_LABEL}" name="phone"><br>
            <input placeholder='${CALLBACK_FORM_EMAIL_LABEL}' name="email"><br>
			<input placeholder="${CALLBACK_FORM_DATE_LABEL}" name="date"><br>
			<textarea name="message" placeholder="${CALLBACK_FORM_MESSAGE_LABEL}"></textarea>
			<div>${CALLBACK_FORM_FOOTER}</div>
			<input type="submit" class="callback-form-btn pretty-button" value="${CALLBACK_FORM_SUBMIT_LABEL}">
		</form>
	</div>

	<div id="a3-callback-result-view">
		<h1>${CALLBACK_FORM_RESULT_MESSAGE}</h1>
	</div>

	<button class="a3-btn-back a3-footer-button btn-gradient">${BACK_LABEL}</button>
	<button class="a3-btn-help a3-footer-button btn-gradient">${HELP_LABEL}</button>
</div>

<!--script>
	/* working hours */
	$('body').on('view-changed', function(e, v){ 
		if('intro' == v){
			var timeChecker = new TimeChecker('Europe/Moscow');
			timeChecker.addRuleForOpened('Mon', '10:00', '19:00');
			timeChecker.addRuleForOpened('Tue', '10:00', '19:00');
			timeChecker.addRuleForOpened('Wed', '10:00', '19:00');
			timeChecker.addRuleForOpened('Thu', '10:00', '19:00');
			timeChecker.addRuleForOpened('Fri', '10:00', '19:00');
			if(!timeChecker.check()){
				$('#a3-intro-view').css('visibility', 'hidden');
				$('#a3-callback-view').css('visibility', 'visible');
				$('#a3-callback-view h1').after('<h2>${OFFLINE_HOURS}</h2>');
			}		
		} 
	});	
</script-->
