<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">


    <http auto-config="true">
        <intercept-url pattern="/click2call" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/click2call/" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/service/callback" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/service/callback/" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/stat/push" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/stat/push/" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/js/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/img/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/**" access="ROLE_ADMIN" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="statmaster" password="01010101" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>