html, body {
	width   : 100%;
	margin  : 0;
	padding : 10px;
	background-color: white;
}


.config {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.config td {
  padding: 0 10px;
}
.config input {
  margin-right: 5px;
  margin-top:1px;
}


.connect-status label {
  display: inline-block;
}


.controls {
  border: none;
  border-collapse: collapse;
  text-align: center
}
.controls td {
  border: 1px solid #ccc;
  vertical-align: top;
  padding: 8px 18px;
}
.controls td label {
  font-size: 10px;
  margin:0;
  color: black;
  font-weight: 800;
}
.controls td label.working {
  color: yellow;
}
.controls td label.done {
  color: green;
}
.controls td label.failed {
  color: red;
}
.controls button {
  width: 90px;
  margin: 2px 8px;
}


#communicator-graph {
  position: absolute;
  width: 300px;
  height: 400px;
  right: 0;
  top: 100px;
  border: 1px solid #003399;
  background: white;
}











#loading {
	vertical-align: middle;
	text-align: center;
}

#login #login-form {
	position:absolute;
	left: 50%;
	margin-left:-150px;
	top:20px;
	padding: 20px;
	border: 1px #ddd outset;
	width:250px;
}
#login .image-loading {
	margin-left : 10px;
	visibility  : hidden;
	height      : 60px;
}
#login .error {
	color       : #dd2222;
	position    : absolute;
	top         : 2px;
	left        : 20px;
	display     : none;
}
#login-port {
	padding-top    : 0;
	padding-bottom : 0;
}


#video-block {
	position          : relative;
	height            : 300px;
	width             : 400px;
	background-color  : #cccccc;
	margin            : 10px;
	padding           : 0;
	border            : 1px #ddd outset;
	float             : left;
}


#dtmf-block {
	padding       : 0;
	position      : absolute;
	width         : 200px;
	height        : 300px;
	left          : 50%;
	top           : 10px;
	border        : 1px solid #cccccc;
	margin-left   : -100px;
	box-sizing    : border-box;
}
#dtmf-block input[type="button"] {
	width         : 30%;
	height        : 30px;
	margin-right  : 1%;
	margin-left   : 1%;
	margin-bottom : 5px;
	box-sizing    : border-box;
}
#dtmf-block input[type="text"] {
	width: 100%;
	height: 30px;
	margin-bottom:20px;
	box-sizing: border-box;
}
#dtmf-block .icon-remove-sign {
	position : absolute;
	right    : 15px;
	top      : 6px;
	cursor   : pointer;
}
#dtmf-block #audio-call {
	position : absolute;
	left     : 5%;
	right    : 55%;
	height   : 30px;
	top      : 200px;
}
#dtmf-block #video-call {
	position : absolute;
	left     : 55%;
	right    : 5%;
	height   : 30px;
	top      : 200px;
}
