<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.rcslabs.a3.stat" />
    <context:annotation-config />

    <mvc:resources mapping="/img/**" location="/WEB-INF/img/" />

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.rcslabs.a3.stat.CsvHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
        <list>
            <ref bean="csvMessageConverter"/>
            <ref bean="jacksonMessageConverter"/>
        </list>
    </property>
    </bean>

    <bean id="jacksonMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>

    <bean id="csvMessageConverter"
          class="com.rcslabs.a3.stat.CsvHttpMessageConverter"/-->

    <bean id="corsFilter"
          class="com.rcslabs.a3.stat.CorsFilter" />

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/app.properties" />

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}" p:username="${jdbc.username}"
          p:password="${jdbc.password}" />


    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="packagesToScan">
            <list>
                <value>com.rcslabs.a3.stat</value>
            </list>
        </property>
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.dialect}</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- redis -->

    <bean id="jedisFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:usePool="true" p:hostName="${redis.host}" p:port="${redis.port}" />

    <bean id="redisStringSerializer"
          class="org.springframework.data.redis.serializer.StringRedisSerializer" />

    <bean id="redisClientLogEntrySerializer"
          class="org.springframework.data.redis.serializer.JacksonJsonRedisSerializer">
            <constructor-arg type="java.lang.Class" value="com.rcslabs.a3.stat.ClientLogEntry"/>
    </bean>

    <bean id="redisClientLogEntryTemplate"
          class="org.springframework.data.redis.core.RedisTemplate"
          p:connectionFactory-ref="jedisFactory"
          p:keySerializer-ref="redisStringSerializer"
          p:valueSerializer-ref="redisClientLogEntrySerializer"/>

    <bean id="redisCallLogEntrySerializer"
          class="org.springframework.data.redis.serializer.JacksonJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.rcslabs.a3.stat.CallLogEntry"/>
    </bean>

    <bean id="redisCallLogEntryTemplate"
          class="org.springframework.data.redis.core.RedisTemplate"
          p:connectionFactory-ref="jedisFactory"
          p:keySerializer-ref="redisStringSerializer"
          p:valueSerializer-ref="redisCallLogEntrySerializer"/>
</beans>