body{background:#ffffff;}
*{font-family: Arial, Verdana, sans; color:#333333; font-size: 10pt;}

.font0{color:#333333;}
.font1{color:#666666;}
.font2{color:#999999;}
.type{color:#0000ff;}
div.title{font-weight: bold; padding:8px; cursor: pointer;}

pre, code{
    font-family: Consolas, monospace;
    border-radius: 3px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;    
}

pre{
    padding: 6px;
    margin:0;
    line-height: 15pt;
    overflow: auto; 
}

code{
    padding: 0 4px;
}

pre code{
    background: none !important;
    border: none !important;
}

hr{
    border-top: 1px solid #ccc;
    border-bottom: none;
}